// 09. Map
// --------------

.map {
  width: 100%;
  height: 550px;

  .map-marker {
    visibility: visible;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -5px;

    .map-icon {
      width: 30px;
      height: 30px;
      border-radius: 50% 50% 50% 0;
      background: #00cae9;
      transform: rotate(-45deg);
    }

    .map-icon::after {
      content: "";
      width: 14px;
      height: 14px;
      margin: 8px 0 0 8px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
    }
  }

  .map-attributtion {
    visibility: visible;
    height: auto;
  }
}

.map-marker {
  visibility: hidden;
}

.map-attributtion {
  visibility: hidden;
  height: 0;
}